
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small, span, td {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  max-width: 800px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}
p, li, td {
  line-height: 1.8;
}
h1 {
  font-size: 4em;
  font-weight: 300;
  margin: 0 0 56px;
}
h2 {
  font-size: 2em;
  margin: 0 0 56px;
  font-weight: 300;
}


a {
  text-decoration: none;
}

.markdown a:hover {
  opacity: 0.6;
}

.markdown h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}


// tables
table td, table td * {
  vertical-align: top;
}
table {
  margin: 0 0 120px;
  td {
    padding: 0 40px 64px 0;
    max-width: 640px;
  }
}

figure.wp-block-table {
  margin: 0;
}


// resume
#resume {
  .resume-brand {
    max-width: 120px;
    display: block;
    margin: 0 0 40px;
  }
  table {
    td:first-of-type {
      width: 280px;
    }
  }
  h2 {
    border-top: solid 1px #ccc;
    padding: 64px 0 24px;
    max-width: 100%;
  }
}

// cards
.image-card {
  width: 100%;
}


// Grid Overrideds
.MuiGrid-root {
  margin: 0 !important;
}
.MuiGrid-container {
  width: 100% !important;
  overflow: hidden;
}